/* home */
section{
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    top: 0;
}
/* .delay-02{
    animation-delay: 0.2s!important;
}
.delay-04{
    animation-delay: 0.4s!important;
}
.delay-06{
    animation-delay: 0.6s!important;
} */
section.home{
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    
    & .content{
        font-family: 'MuseoModerno', system-ui;
        & .name{
            
            font-size: 2.5em;
            font-weight: bold;
            line-height: 1em;
            & span{
                background-image: linear-gradient(to right, #7BE728, #F3265F, #7F40AC, #7BE728);
                background-size: 200% auto;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                animation: shine 5s linear infinite;
            }
        }
        & .des{
            color: rgba(238, 238, 238, 0.603);
            margin: 30px 0;
            border-left: .7em solid #e945e3;
            padding-left: 2em;
        }
        & .cv-row{
            display: flex;
            flex-direction: row;
            gap: 12px;
            flex-wrap: nowrap;
        }
        & a{
            display: block;
            font-size: large;
            color: #eee;
            font-weight: bold;
            text-decoration: none;
            border: 1px solid #eee;
            background-color:transparent;
            width: max-content;
            padding: 20px 30px;
            border-radius: 40px;
        }
    }
    & .avatar{
        text-align: right;
        & .card{
            display: inline-flex;
            flex-direction: column;
            width: min(100%, 400px);
            box-shadow: 0 150px 150px #e945e333;
            transition: 0.5s;
            &:hover{
                box-shadow: 0 150px 150px #e945e355;
            }
            & img{
                width: 100%;
                height: min(50vh, 700px);
                object-fit: cover;
                object-position: top;
                clip-path: polygon(81% 0, 100% 18%, 100% 100%, 0 100%, 0 0);
            }
            & .info{
                background-color: #eee; 
                color: #010824;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
                gap: 20px;
                padding: 20px;
                font-size: 1.2em;
                & div:nth-child(1), div:nth-child(2), div:nth-child(3),div:nth-child(4){
                    font-weight: bold;
                }
            }
        }
    }
}
