/* home */
section {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    top: 0;
}

section.home {
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

section.home .content {
    font-family: 'MuseoModerno', system-ui;
}

section.home .content .name {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1em;
}

section.home .content .name span {
    background-image: linear-gradient(to right, #7BE728, #F3265F, #7F40AC, #7BE728);
    background-size: 200% auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: shine 5s linear infinite;
}

section.home .content .des {
    color: rgba(238, 238, 238, 0.603);
    margin: 30px 0;
    border-left: 0.7em solid #e945e3;
    padding-left: 2em;
}

section.home .content .cv-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

section.home .content a {
    display: inline-block;
    font-size: 14px;
    color: #eee;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #eee;
    background-color: transparent;
    width: max-content;
    padding: 8px 16px;
    border-radius: 20px;
}

section.home .avatar {
    text-align: right;
}

section.home .avatar .card {
    display: inline-flex;
    flex-direction: column;
    width: min(100%, 400px);
    box-shadow: 0 150px 150px #e945e333;
    transition: 0.5s;
}

section.home .avatar .card:hover {
    box-shadow: 0 150px 150px #e945e355;
}

section.home .avatar .card img {
    width: 100%;
    height: min(50vh, 700px);
    object-fit: cover;
    object-position: top;
    clip-path: polygon(81% 0, 100% 18%, 100% 100%, 0 100%, 0 0);
}

section.home .avatar .card .info {
    background-color: #eee;
    color: #010824;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 20px;
    padding: 20px;
    font-size: 1.2em;
}

section.home .avatar .card .info div:nth-child(1),
section.home .avatar .card .info div:nth-child(2),
section.home .avatar .card .info div:nth-child(3),
section.home .avatar .card .info div:nth-child(4) {
    font-weight: bold;
}

/* Animation */
@keyframes shine {
    to {
        background-position: 200% center;
    }
}
